@media screen and (min-width: 320px) and (max-width: 767px) {
  .recommends {
    font-family: 'Graphik';
    font-style: normal;
    padding-top: 24px;

    &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: #111827;
      margin: 0 8px 16px 8px;
    }

    .swiper-wrapper {
      margin-left: 8px;
    }

    .logoSlider {
      z-index: 1;

      &__item {
        &_block {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: #FFFFFF;
          width: 128px;
          height: 80px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          border-radius: 8px;
        }

        &_title {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          color: #111827;
          margin: 8px 0 0;
        }
      }
    }

    .banner {
      background: linear-gradient(180deg, #CBD623 0%, #41701E 100%);
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      margin: 24px 8px 0;

      &__text {
        display: flex;
        flex-direction: column;

        &_title {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          margin: 8px auto 4px 15px;
        }

        &_info {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.5);
          margin: 0 auto 8px 15px;
        }
      }

      &__logo {
        margin: 8px 15px 8px auto;
      }
    }
  }
}