@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu {
    font-family: 'Graphik';
    font-style: normal;
    background-color: #111827;
    height: 371px;
    padding-top: 16px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    display: none;

    &__opened {
      display: block;
      z-index: 2;
    }

    &__btn {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      border-radius: 8px;
      border: none;
      padding: 12px 82.5px;
      margin: 0 auto;
      background-color: #1F2937;

      &_img {
        margin-right: 8px;
      }
    }

    &__list {
      #menuListBlock {
        padding: 0;
      }

      &_item {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        list-style-type: none;
        border-bottom: 1px solid #D1D5DB;
        padding: 20px 0;
        margin: 0 8px;

        &_link {
          margin: 0 auto 0 4px;
          text-decoration: none;
          color: #FFFFFF;
        }

      }

      #menuLastItem {
        border: none;
      }

    }
  }
}