@media screen and (min-width: 320px) and (max-width: 767px) {
  .news {
    font-family: "Graphik";
    font-style: normal;
  }
  .news__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px 8px 8px;
  }
  .news__header_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #111827;
    margin: 8px 0;
  }
  .news__card {
    padding-bottom: 24px;
    width: 304px;
    margin: 0 auto;
  }
  .news__card_image {
    margin: 0 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 8px;
  }
  .news__card_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #111827;
    margin: 8px 8px 4px;
  }
  .news__card_info {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
    margin: 0 8px;
  }
  .news__card_info_date {
    margin: 0 8px 0 0;
    display: inline-block;
  }
}

/*# sourceMappingURL=news.css.map */
