.main {
  background-color: #E5E5E5;

  .seeAllBtn {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6BA91A;
    border: none;
    outline: none;
    background: none;
    margin: 4px 0 4px auto;
    padding: 0;
  }

  .seeAllBtn:hover {
    color: #2563EB;;
  }
}