.main {
  background-color: #E5E5E5;
}
.main .seeAllBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6BA91A;
  border: none;
  outline: none;
  background: none;
  margin: 4px 0 4px auto;
  padding: 0;
}
.main .seeAllBtn:hover {
  color: #2563EB;
}

/*# sourceMappingURL=main.css.map */
