@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    background-color: #111827;
    display: flex;
    flex-direction: row;
  }
  .footer__image {
    margin: 16px 16px 0;
    height: 48px;
  }
  .footer__info {
    font-family: "Graphik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6B7280;
    margin: 16px 16px 24px 0;
  }
}

/*# sourceMappingURL=footer.css.map */
