@media screen and (min-width: 320px) and (max-width: 767px) {
  .plantCare {
    font-family: "Graphik";
    font-style: normal;
  }
  .plantCare__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px 8px 8px;
  }
  .plantCare__header_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #111827;
    margin: 8px 0;
  }
  .plantCare .swiper-wrapper {
    margin-left: 8px;
  }
  .plantCare__slider_item {
    background-color: #FFFFFF;
    width: 240px;
    box-shadow: 0px 2px 4px rgba(17, 24, 39, 0.08);
    border-radius: 8px;
  }
  .plantCare__slider_item_img {
    margin: 8px 8px 0;
  }
  .plantCare__slider_item_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #64A315;
    margin: 8px 8px 0;
  }
  .plantCare__slider_item_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #111827;
    margin: 0 8px 8px;
  }
  .plantCare__slider_item_btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #64A315;
    border-radius: 8px;
    border: none;
    padding: 10px 82px;
    margin: 0 8px 8px;
  }
}

/*# sourceMappingURL=plantCare.css.map */
