@media screen and (min-width: 320px) and (max-width: 767px) {
  .assortment {
    font-family: 'Graphik';
    font-style: normal;

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 24px 8px 8px;

      &_title {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #111827;
        margin: 8px 0;
      }
    }

    &__list {
      margin: 0 8px;
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));

      &_item {
        width: 144px;
        border-radius: 8px;
        background-color: #FFFFFF;

        &_photo {
          height: 88px;
          background-color: #111827;
          text-align: center;
          border-radius: 8px 8px 0 0;
        }

        &_rating {
          background-color: #F59E0B;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          color: #FFFFFF;
          width: 44px;
          margin: 0 auto;
          position: relative;
          bottom: 7px;
          text-align: center;
        }

        &_title {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #111827;
          text-align: center;
          margin: 0 8px 29px;
        }

        &_btn {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          color: #6BA91A;
          background-color: #E2FEDB;
          margin: 0 8px 8px;
          border: none;
          border-radius: 8px;
          padding: 10px 36.5px;
        }
      }
    }
  }
}