<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>Eyeconweb</title>

<body class="page">
<header class="header">
    <img class="header__logo" alt="Логотип" src="<%=require('./images/logo.svg')%>">
    <div class="header__icons">
        <img class="header__icons_item" type="glass" alt="Логотип" src="<%=require('./images/magnifying-glass.svg')%>">
        <img class="header__icons_item" type="land" alt="Логотип" src="<%=require('./images/language.svg')%>">
        <img class="header__icons_item" type="bars" id="menu" alt="Логотип" src="<%=require('./images/bars.svg')%>">
    </div>
</header>
<main class="main">
    <section class="menu ">
        <button class="menu__btn">
            <img class="menu__btn_img" type="user" alt="Пользователь" src="<%=require('./images/circle-user.svg')%>">
            Sign Up or Log in
        </button>
        <nav class="menu__list">
            <ul id="menuListBlock">
                <li class="menu__list_item" id="menuFirstItem"><a class="menu__list_item_link" href="#PlantsAndFlowers">Plants and flowers</a></li>
                <li class="menu__list_item" id="menuSecItem"><a class="menu__list_item_link" href="#PlantCare">Plant care</a></li>
                <li class="menu__list_item" id="menuLastItem"><a class="menu__list_item_link" href="#News">News</a></li>
            </ul>
        </nav>
    </section>
    <section class="recommends">
        <h2 class="recommends__title">Recommended for you</h2>
        <div class="logoSlider swiper2 swiper">
            <div class="swiper-wrapper">
                <div class="logoSlider__item  swiper-slide">
                    <div class="logoSlider__item_block">
                        <img class="logoSlider__item_block_img" alt="ОБИ" src="<%=require('./images/obi.png')%>">
                    </div>
                    <h3 class="logoSlider__item_title">OBI</h3>

                </div>
                <div class="logoSlider__item  swiper-slide">
                    <div class="logoSlider__item_block">
                        <img class="logoSlider__item_block_img" alt="Леруа Мерлен"
                             src="<%=require('./images/leroyMerlen.png')%>">
                    </div>
                    <h3 class="logoSlider__item_title">Leroy Merlin</h3>

                </div>
                <div class="logoSlider__item swiper-slide">
                    <div class="logoSlider__item_block">
                        <img class="logoSlider__item_block_img" alt="ОБИ" src="<%=require('./images/obi.png')%>">
                    </div>
                    <h3 class="logoSlider__item_title">Клумба</h3>

                </div>
                <div class="logoSlider__item swiper-slide">
                    <div class="logoSlider__item_block">
                        <img class="logoSlider__item_block_img" alt="ОБИ" src="<%=require('./images/obi.png')%>">
                    </div>
                    <h3 class="logoSlider__item_title">Букет Бар</h3>

                </div>
            </div>

        </div>
        <div class="banner">
            <div class="banner__text">
                <h3 class="banner__text_title">Rubber-bearing ficus (elastic)</h3>
                <p class="banner__text_info">Ficus elastica (Ficus elastica), or rubber-bearing ficus...</p>
            </div>
            <img class="banner__logo" alt="Логотип" src="<%=require('./images/treeimg.png')%>">
        </div>
    </section>
    <section class="assortment" id="PlantsAndFlowers">
        <div class="assortment__header">
            <h2 class="assortment__header_title">Plants and flowers</h2>
            <button class="assortment__header_button seeAllBtn">See all</button>
        </div>

        <div class="assortment__list">

            <div class="assortment__list_item">
                <div class="assortment__list_item_photo">
                    <img alt="Фото товара" src="<%=require('./images/orchid.png')%>">
                </div>
                <div class="assortment__list_item_rating">
                    <img alt="звездочка" src="<%=require('./images/star.svg')%>">
                    8.0
                </div>
                <h2 class="assortment__list_item_title">Orchid</h2>
                <button class="assortment__list_item_btn">Review</button>
            </div>

            <div class="assortment__list_item">

                <div class="assortment__list_item_photo">
                    <img alt="Фото товара" src="<%=require('./images/pion.png')%>">
                </div>
                <div class="assortment__list_item_rating">
                    <img alt="звездочка" src="<%=require('./images/star.svg')%>">
                    9.0
                </div>
                <h2 class="assortment__list_item_title">Pions</h2>
                <button class="assortment__list_item_btn">Review</button>
            </div>

            <div class="assortment__list_item">
                <div class="assortment__list_item_photo">
                    <img alt="Фото товара" src="<%=require('./images/aloe.png')%>">
                </div>
                <div class="assortment__list_item_rating">
                    <img alt="звездочка" src="<%=require('./images/star.svg')%>">
                    5.6
                </div>
                <h2 class="assortment__list_item_title">Aloe</h2>
                <button class="assortment__list_item_btn">Review</button>
            </div>

            <div class="assortment__list_item">
                <div class="assortment__list_item_photo">
                    <img alt="Фото товара" src="<%=require('./images/chrysanthemum.png')%>">
                </div>
                <div class="assortment__list_item_rating">
                    <img alt="звездочка" src="<%=require('./images/star.svg')%>">
                    7.5
                </div>
                <h2 class="assortment__list_item_title">Chrysanthemum</h2>
                <button class="assortment__list_item_btn">Review</button>
            </div>
        </div>
    </section>
    <section class="plantCare" id="PlantCare">
        <div class="plantCare__header ">
            <h2 class="plantCare__header_title">Plant care</h2>
            <button class="plantCare__header_button seeAllBtn">See all</button>
        </div>

        <div class="plantCare__slider swiper1 swiper">
            <div class="swiper-wrapper">
                <div class="plantCare__slider_item swiper-slide">
                    <img class="plantCare__slider_item_img" alt="Цветы и уход"
                         src="<%=require('./images/plantImg1.png')%>">
                    <h3 class="plantCare__slider_item_title">Pots for plants</h3>
                    <p class="plantCare__slider_item_text">Flower pot Ingreen ø13 h10. 4 cm v0. 7 L plastic marble</p>
                    <button class="plantCare__slider_item_btn">Go over</button>
                </div>
                <div class="plantCare__slider_item swiper-slide">
                    <img class="plantCare__slider_item_img" alt="Цветы и уход"
                         src="<%=require('./images/plantImg1.png')%>">
                    <h3 class="plantCare__slider_item_title">Soil source</h3>
                    <p class="plantCare__slider_item_text">Flower pot Ingreen ø13 h10. 4 cm v0. 7 L plastic marble</p>
                    <button class="plantCare__slider_item_btn">Go over</button>
                </div>
                <div class="plantCare__slider_item swiper-slide">
                    <img class="plantCare__slider_item_img" alt="Цветы и уход"
                         src="<%=require('./images/plantImg1.png')%>">
                    <h3 class="plantCare__slider_item_title">Pots for plants</h3>
                    <p class="plantCare__slider_item_text">Flower pot Ingreen ø13 h10. 4 cm v0. 7 L plastic marble</p>
                    <button class="plantCare__slider_item_btn">Go over</button>
                </div>
                <div class="plantCare__slider_item swiper-slide">
                    <img class="plantCare__slider_item_img" alt="Цветы и уход"
                         src="<%=require('./images/plantImg1.png')%>">
                    <h3 class="plantCare__slider_item_title">Pots for plants</h3>
                    <p class="plantCare__slider_item_text">Flower pot Ingreen ø13 h10. 4 cm v0. 7 L plastic marble</p>
                    <button class="plantCare__slider_item_btn">Go over</button>
                </div>
            </div>
        </div>


    </section>
    <section class="news" id="News">
        <div class="news__header ">
            <h2 class="news__header_title">News</h2>
            <button class="news__header_button seeAllBtn">See all</button>
        </div>
        <div class="news__card">
            <img claSS="news__card_image" alt="Картинка новостей" src="<%=require('./images/rectangle.png')%>">
            <h2 class="news__card_title">Indoor flowers and potted plants</h2>
            <div class="news__card_info">
                <p class="news__card_info_date"></p>
                <img alt="глаз" src="<%=require('./images/eye.svg')%>">
                16
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <img class="footer__image" alt="18+" src="<%=require('./images/18+.svg')%>">
    <p class="footer__info">
        Our website is intended for informational purposes only and is not an advertisement. © 2018 - 2021
    </p>
</footer>
</body>
</html>