@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    background-color: #111827;
    display: flex;
    justify-content: space-between;
    &__logo{
      margin: 21px 0 21px 8px;
    }
    &__icons{
      display: flex;
      width: 128px;
      justify-content: space-between;
      margin: 16px 8px;
      &_item{
        width: 32px;
        margin: 4px 0;
      }
    }
  }
}