@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    background-color: #111827;
    display: flex;
    justify-content: space-between;
  }
  .header__logo {
    margin: 21px 0 21px 8px;
  }
  .header__icons {
    display: flex;
    width: 128px;
    justify-content: space-between;
    margin: 16px 8px;
  }
  .header__icons_item {
    width: 32px;
    margin: 4px 0;
  }
}

/*# sourceMappingURL=header.css.map */
